---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Customization */

.page__content :not(pre)>code {
    background: #f9f2f4;
    color: #c7254e;
}

.masthead {
    background-color: #353535;
}

.greedy-nav {
    background: transparent;
    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
    .hidden-links a {
        color: #000;
    }
}

h2 a, h2 a:visited {
    color: #ea4d1b;
}

#main a {
    text-decoration: none;
    
    &:hover {
        color: #ea4d1b;
        text-decoration: underline;
    }
}

.page__content a,
.page__content a:visited,
.page__content a:hover {
    color: #ea4d1b;
}

.toc__menu a {
    color: initial;
}

.greedy-nav .visible-links a:before {
    height: 2px;
    background: #ffffff;
}


/* for page without sidebar */
.fullwide {
    .page {
        float: left;
        width: 100%;
        @include breakpoint($large) {
            padding-left: 0;
            padding-inline-end: 0;
        }

        @include breakpoint($x-large) {
            padding-left: 0;
            padding-inline-end: 0;
        }
    }

    .page__related {
        @include breakpoint($large) {
            padding-left: 0;
            padding-inline-end: 0;
        }

        @include breakpoint($x-large) {
            padding-left: 0;
            padding-inline-end: 0;
        }
    }
}